In [2]:

# - 사전 불러오기
import pandas as pd

sent_df = pd.read_csv('sent_df.csv', index_col=0)

sent_df

          단어        계수
0         10  0.398050
1        100  0.400273
2         11 -0.196451
3         12 -0.341501
4         13  0.000000
..       ...       ...
995  wrongly -0.251281
996     year  0.047634
997    years  1.442039
998     yell -0.556269
999      yes  0.000000

[1000 rows x 2 columns]

In [3]:
# - 극성 칼럼 추가
#회귀분석을 통해 만든 감정 사전에서도 계수가 양수면 +1, 음수면 -1로 변환한다.

import numpy
sent_df['극성'] = numpy.sign(sent_df['계수'])

In [4]:
# - 인덱스를 단어 칼럼으로 변경(매핑 편의를 위해서)

sent_df.set_index('단어', inplace=True)
sent_df.head()

           계수   극성
단어
10   0.398050  1.0
100  0.400273  1.0
11  -0.196451 -1.0
12  -0.341501 -1.0
13   0.000000  0.0

In [5]:
# - 문장 극성 매핑

sentence = 'poor screen but reasonable price'
words = sentence.split()  #형태소 분석으로 토큰화 해도 되지만 간단하게 하기위해

In [6]:
# 해당하는 사전에서 매핑

sent_df.reindex(words)

                  계수   극성
단어
poor       -2.563421 -1.0
screen      0.175726  1.0
but              NaN  NaN
reasonable  0.297197  1.0
price       2.489607  1.0

In [7]:
# - OOV 즉 미 매핑 단어 삭제

sent = sent_df.reindex(words).dropna()
sent

                  계수   극성
단어
poor       -2.563421 -1.0
screen      0.175726  1.0
reasonable  0.297197  1.0
price       2.489607  1.0

In [8]:
# - 극성 계산

sent['극성'].sum() / sent['극성'].abs().sum()

0.5